@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.text-green {
  color: #4d9651;
}

.bg-dark-green {
  background-color: #4d9651;
}

.bg-light-green {
  background-color: #62b867;
}
nav.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
nav .navbar-brand {
  font-size: 2rem;
  font-weight: 500;
  color: white !important;
}
nav .navbar-brand img {
  background-color: white;
}

.navbar-light .navbar-toggler {
  color: white;
  border: none;
}

header.header {
  height: 90vh;
}

.text-caption {
  font-weight: 600;
}

.title-text-big {
  font-size: 3.75rem;
  font-weight: 900;
}

h2.second-title {
  padding-bottom: 5px;
  border-bottom: 4px solid #4d9651;
}

section.benefit,
section.develop {
  height: 100vh;
}

footer.footer {
  min-height: 40vh;
}
footer.footer h5 {
  font-weight: 700;
}

footer.footer ul {
  padding-left: inherit !important;
}

footer.footer ul .footer-logo {
  width: 20px;
}

p.desc {
  margin-top: 20px;
}

.border-radius-sm {
  border-radius: 10px;
}

/* ukuran hp kebawah */
@media only screen and (max-width: 600px) {
  .img-profile {
    margin: 0px !important;
    min-width: 50px !important;
    min-height: 50px !important;
  }
  header.header {
    text-align: center;
    height: 100vh;
  }
  header.header div.container {
    padding-top: 20px;
  }
  p.desc {
    margin-top: 10px;
  }
  .title-text-big {
    font-size: 3rem;
  }

  section.proker div.d-flex {
    flex-direction: column;
  }
  section.benefit,
  section.develop {
    height: auto;
  }

  section.develop {
    padding-top: 20px;
  }

  section.blog .card {
    margin-top: 20px;
  }
  footer.footer div.container-fluid div:nth-child(odd) {
    margin-right: 50px;
  }

  footer.footer div.container-fluid div:first-child {
    margin: 30px 0;
  }

  footer.footer div.container-fluid div:last-child {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

/* hp ke atas */
@media only screen and (min-width: 600px) {
  .img-profile {
    margin: 0px !important;
    min-width: 50px !important;
    min-height: 50px !important;
  }
  .nav-item:last-child {
    margin-left: 20px;
  }
}

/* jasa */

.content-3-7 .btn:focus,
.content-3-7 .btn:active {
  outline: none !important;
}

.content-3-7 {
  padding: 5rem 2rem 7rem;
}

.content-3-7 .title-text {
  font: 800 1.875rem/2.25rem Poppins, sans-serif;
  letter-spacing: 0.05em;
  margin-bottom: 0.75rem;
  color: #4d9651;
}

.content-3-7 .caption-text {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #8e8fad;
  margin-bottom: 0;
}

.content-3-7 .card-item {
  transition: 0.4s;
  top: 0px;
  left: 0px;
  padding: 1rem 0;
}

.content-3-7 .card-item:hover {
  top: -3px;
  left: -3px;
  transition: 0.4s;
}

.content-3-7 .card-item-outline {
  border: 1px solid #e5ebf9;
  padding: 2rem 2.75rem;
  border-radius: 1rem;
}

.content-3-7 .price-title {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  color: #4d9651;
  letter-spacing: 0.025em;
  margin-bottom: 0.75rem;
}

.content-3-7 .price-value {
  font: 500 2.25rem/2.5rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  margin-bottom: 0.75rem;
  color: #4d9651;
}

.content-3-7 .price-duration {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  margin: 0.625rem;
  color: #9e9e9e;
}

.content-3-7 .price-caption {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  margin-bottom: 2.5rem;
  color: #c3c3c8;
}

.content-3-7 .price-list .check {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  color: #4d9651;
  letter-spacing: 0.025em;
  margin-bottom: 1.75rem;
}

.content-3-7 .price-list .no-check {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  color: #e1e1e1;
  letter-spacing: 0.025em;
  margin-bottom: 1.75rem;
}

.content-3-7 .span-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}

.content-3-7 .btn-outline {
  border: 1px solid #4d9651;
  color: #4d9651;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  border-radius: 0.5rem;
}

.content-3-7 .btn-outline:hover {
  background-color: #59bb5e;
  color: #ffffff;
}

.content-3-7 .btn-fill {
  background-image: #4d9651;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  border-radius: 0.5rem;
}

.content-3-7 .btn-fill:hover {
  background-image: linear-gradient(#59bb5e, #59bb5e);
}

@media (min-width: 576px) {
  .content-3-7 .title-text {
    font: 800 2.25rem/2.5rem Poppins, sans-serif;
  }

  .content-3-7 .card-item {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .content-3-7 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (min-width: 992px) {
  .content-3-7 .caption-text {
    width: 66.666667%;
  }

  .content-3-7 .card-item {
    width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  .content-3-7 {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

/* login */

.content-3-5 .btn:focus,
.content-3-5 .btn:active {
  outline: none !important;
}

.content-3-5 .width-left {
  width: 0%;
}

.content-3-5 .width-right {
  width: 100%;
  height: 100%;
  padding: 8rem 2rem;
  background-color: #fcfdff;
}

.content-3-5 .centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-3-5 .right {
  width: 100%;
}

.content-3-5 .title-text {
  color: #4d9651;
  font: 600 1.875rem/2.25rem Poppins, sans-serif;
  margin-bottom: 0.75rem;
}

.content-3-5 .input-label {
  font: 500 1.125rem/1.75rem Poppins, sans-serif;
  color: #4d9651;
}

.content-3-5 .div-input {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 1.25rem;
  margin-top: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #cacbce;
  color: #2a3240;
  transition: 0.3s;
}

.content-3-5 .div-input:focus-within {
  border: 1px solid #4d9651;
  color: #2a3240;
  transition: 0.3s;
}

.content-3-5 .div-input input::placeholder {
  color: #cacbce;
  transition: 0.3s;
}

.content-3-5 .div-input:focus-within input::placeholder {
  color: #2a3240;
  outline: none;
  transition: 0.3s;
}

.content-3-5 .div-input .icon-toggle-empty-3-5 path,
.content-3-5 .div-input:focus-within .icon path {
  transition: 0.3;
  fill: #4d9651;
  transition: 0.3s;
}

.content-3-5 .input-field {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  width: 100%;
  background-color: #fcfdff;
  transition: 0.3s;
}

.content-3-5 .input-field:focus {
  outline: none;
  transition: 0.3s;
}

.content-3-5 .forgot-password {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  color: #cacbce;
  transition: 0.3s;
  text-decoration: none;
}

.content-3-5 .forgot-password:hover {
  color: #2a3240;
}

.content-3-5 .btn-fill {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  background-color: #4d9651;
  padding: 0.75rem 1rem;
  margin-top: 2.25rem;
  border-radius: 0.75rem;
  transition: 0.5s;
}

.content-3-5 .btn-fill:hover {
  background-image: #4d9651;
  transition: 0.5s;
}

.content-3-5 .bottom-caption {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  margin-top: 2rem;
  color: #2a3240;
}

.content-3-5 .green-bottom-caption {
  color: #4d9651;
  font-weight: 500;
}

.content-3-5 .green-bottom-caption:hover {
  color: #4d9651;
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .content-3-5 .width-right {
    padding: 8rem 4rem;
  }

  .content-3-5 .right {
    width: 58.333333%;
  }
}

@media (min-width: 768px) {
  .content-3-5 .right {
    width: 66.666667%;
  }
}

@media (min-width: 992px) {
  .content-3-5 .width-left {
    width: 48%;
  }

  .content-3-5 .width-right {
    width: 52%;
  }

  .content-3-5 .right {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .content-3-5 .right {
    width: 58.333333%;
  }
}
